.popup-container {
	position: relative;
}

.popup-container table {
	z-index: 10;
	position: absolute;
	background-color: white;
}

.hide {
	display: none;
}


input[type=checkbox]
{
	transform: scale(3);
	padding: 10px;
}
