a {
	cursor: pointer;
}

.popup-container {
	position: relative;
}
a.popup-container {
	text-decoration: none;
	color: black;
}

.popup {
	z-index: 10;
	position: absolute;
	background-color: white;
}
table.popup {
	border-collapse: true;
}

.hide {
	display: none;
}

table.thumbnails, table.features {
	padding: 10px;
	background-color: white;
}

.thumbnails td {
	padding: 5px;
}

table.thumbnails img {
	width: 210px;
}


input[type=checkbox]
{
	transform: scale(3);
	padding: 10px;
}

table th.vote1, table th.vote2, table th.vote3,
table td.vote1, table td.vote2, table td.vote3 {
	display: none;
}

table td.hide, table th.hide {
	display: none;
}

ul.voting {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
