{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sourcevetting.css' %}">
{% endblock stylesheets %}
{% block scripts %}
{{ block.super }}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/floatThead.js' %}"></script>
<script src="{% static 'js/sourcevetting.js' %}"></script>
{% endblock scripts %}
