{% extends "sourcevetting/base.html" %}

{% block content %}

<h1>{{ night.date }}</h1>

<table>
<tbody>
{% for observation in night.observations %}<tr>
{% for field in observation.field_set %}
<td><a href="{% url 'sourcevetting:field' name=field.obj field=field.pk %}">{{ field.datestart }}, {{ field.obj }}, {{ field.center }}</a></td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>


{% endblock content %}
