{% extends "sourcevetting/base.html" %}
{% block content %}
<h1>Observing dates</h1>

<table>
<tbody>
{% for night in object_list %}
<tr><td><a href="{% url 'sourcevetting:date' date=night.date %}">{{ night.date }}</a></td></tr>
{% endfor %}
</tbody>
</table>

{% begin comment %}
<dl>
{% for night in object_list %}
<dt>{{ night.date }}</dt>
<dd>
<table>
<tbody>
{% for observation in night.observations %}<tr>
{% for field in observation.field_set %}
<td><a href="{% url 'sourcevetting:field' name=field.obj field=field.pk %}">{{ field.datestart }}, {{ field.obj }}, {{ field.center }}</a></td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
<dd>
{% endfor %}
</dl>
{% end comment %}


{% endblock content %}
