{% extends "sourcevetting/base.html" %}
{% block content %}
<h1>List of fields</h1>

<p>Ordered by date</p>


<table>
<tbody>
{% for field in fields %}

<tr><th>RA, Dec</th><td>{{ field.center }}</td></tr>
<tr><th>Start time</th><td>{{ field.datestart }}</td></tr>
<tr><th>Exposure</th><td>{{ field.exptime }}</td></tr>
<tr><th>Filter</th><td>{{ field.filt }}</td></tr>
<tr><th>Est. lim. magn.</th><td>{{ field.limmag }}</td></tr>
<tr><th>Field Image</th><td>{{ field.image }}</td></tr>
<tr><th>FITS file</th><td>{{ field.fitsfile }}</td></tr>
</tbody>
</table>

<table>
<tbody>
<thead>
<tr>
<th>vote</th>
<th>thumbnail validity</th>
<th>classification</th>
<th>class. confidence</th>
<th>thumbnail</th>
<th>source</th>
<th>reference</th>
<th>SDSS/DSS</th>
<th># of features</th>
<th>position</th>
</tr>
</thead><
tbody>
{% for source in field.source_set %}
<tr>
<td>source.render_vote1</td>
<td>source.valid_score</td>
<td>source.cls</td>
<td>source.conf</td>
<td>source.subthumb</td>
<td>source.srcthumb</td>
<td>source.refthumb</td>
<td>source.dssthumb</td>
<td>source.nfeatures</td>
<td>source.pos</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock content %}
