{% extends "sourcevetting/base.html" %}
{% block content %}
<h1>Field {{ field.pk }}</h1>

<h2>Field info</h2>

<table>
<tbody>
<tr><th>RA, Dec</th><td>{{ field.center }}</td></tr>
<tr><th>Start time</th><td>{{ field.datestart }}</td></tr>
<tr><th>Exposure</th><td>{{ field.exptime }}</td></tr>
<tr><th>Filter</th><td>{{ field.filt }}</td></tr>
<tr><th>Est. lim. magn.</th><td>{{ field.limmag }}</td></tr>
<tr><th>Field Image</th><td><a href="{{ field.image.url }}">link</a></td></tr>
<tr><th>FITS file</th><td><a href="{{ field.fitsfile.url }}">link</a></td></tr>
</tbody>
</table>

<datalist id="votelist">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</datalist>

Voting:
<select id="select-vote-style">
  <option value="0" selected>None</option>
  <option value="1">Style 1</option>
  <option value="2">Style 2</option>
  <option value="3">Style 3</option>
</select>

<table class="sources floatThead">
<tbody>
<thead>
<tr>
<th>det. id</th>
<th class="vote1">vote</th>
<th class="vote2">vote</th>
<th class="vote3">vote</th>
<th class="hide">classification</th>
<th class="hide">class. confidence</th>
<th>tn-score</th>
<th>diff.</th>
<!--<th>detection</th>-->
<th>src.</th>
<th>ref.</th>
<!--<th>SDSS/DSS</th>-->
<th>position</th>
{# Django will silently fail in a template if there are no sources at all #}
{# {% for feature in field.source_set.all.0.features %}<th>{{ feature.name }}</th>{% endfor %} #}
</tr>
</thead>
<tbody>
{% for source in field.sources %}
<tr>
<td>{{ source.detidx }}</td>
<td class="vote1" id="vote1-{{ source.pk }}">{{ source.render_vote1 }}</td>
<td class="vote2" id="vote2-{{ source.pk }}">{{ source.render_vote2 }}</td>
<td class="vote3" id="vote3-{{ source.pk }}">{{ source.render_vote3 }}</td>
<td class="popup-container" onclick="popup_table('features-{{ source.pk }}');"><a>{{ source.validity|floatformat:2 }}</a>
<table class="popup hide features" id="features-{{ source.pk }}"><tbody>
{% for feature in source.features %}<tr><th>{{ feature.name }}</th><td>{{ feature.value|floatformat:3 }}</td></th>{% endfor %}
</tbody></table>
</td>
<td class="hide">{{ source.cls }}</td>
<td class="hide">{{ source.conf }}</td>
<td class="popup-container">
<a class="popup-container" onclick="popup_table('thumbnails-{{ source.pk }}');"><table class="popup hide thumbnails" id="thumbnails-{{ source.pk }}"><tbody>
<tr><td>Diff:<img src="{{ source.diffthumb.url }}"></td>
<td>Detect:<img src="{{ source.detthumb.url }}"></td></tr>
<tr><td>Source:<img src="{{ source.srcthumb.url }}"></td>
<td>Ref:<img src="{{ source.refthumb.url }}"></td></tr>
<tr><td>(S)DSS:<img src="{{ source.dssthumb.url }}"></td>
<td></td></tr>
</tbody></table></a>
<a class="popup-container" onclick="popup_table('thumbnails-{{ source.pk }}');"><img src="{{ source.diffthumb.url }}" width="42px"></a></td>
<!--<td><img src="{{ source.detthumb.url }}"></td>-->
<td><a class="popup-container" onclick="popup_table('thumbnails-{{ source.pk }}');"><img src="{{ source.srcthumb.url }}" width="42px"></a></td>
<td><a class="popup-container" onclick="popup_table('thumbnails-{{ source.pk }}');"><img src="{{ source.refthumb.url }}" width="42px"></a></td>
<!--<td><img src="{{ source.dssthumb.url }}"></td>-->
<td>{{ source.pos }}</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock content %}
