{% extends "sourcevetting/base.html" %}
{% block content %}
<h1>List of fields</h1>

<p>Ordered by date</p>


<table>
<thead>
<tr>
<th>Details</th>
<th>Target</th>
<th># candidates</th>
<th>Position</th>
<th>Date</th>
<th>Exp. time</th>
<th>Filter</th>
<th>Est. lim. magn.</th>
<th>Camera</th>
</tr>
</thead>
<tbody>
{% for field in object_list %}
<tr>
<td><a href="{% url 'sourcevetting:field' pk=field.pk %}">field/{{ field.pk }}</a></td>
<td>{{ field.target }}</td>
<td>{{ field.source_set.count }}</td>
<td>{{ field.centerpos }}</td>
<td>{{ field.date }}</td>
<td>{{ field.exptime }}</td>
<td>{{ field.filt }}</td>
<td>{{ field.limmag }}</td>
<td>{{ field.camera }}</td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock content %}
