{% extends "sourcevetting/base.html" %}
{% block content %}
<h1>Targets observed</h1>


<table>
<thead class="floatHead">
<tr>
<th>Name</th>
</tr>
</thead>
<tbody>
{% for target in object_list %}
<tr>
<td><a href="{% url 'sourcevetting:target' pk=target.pk %}">{{ target.name }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>


{% endblock content %}
